.barra-progresso-container {
    position: relative;
    width: 60%; /* A barra vai ocupar no máximo 60% da largura da tela */
    height: 10px; /* Altura reduzida da barra de progresso */
    margin-left: auto;
    margin-right: auto; /* Centraliza a barra */
    margin-top: 100px; /* Ajuste para mover a barra para baixo */
    transform: translateX(10px); /* Desloca a barra para a direita para começar no centro da bolinha 1 */
}

.bolinha {
    width: 20px; /* Ajuste do tamanho da bolinha */
    height: 20px; /* Ajuste do tamanho da bolinha */
    border-radius: 50%; /* Deixa a bolinha arredondada */
    background-color: #004164; /* Cor verde das bolinhas */
    position: relative;
    top: -5px; /* Ajuste para alinhar as bolinhas verticalmente */
}

.barra-progresso {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* Mantém a altura da barra conforme o container */
    background-color: #45aee6; /* Cor da barra */
    transition: width 10s ease-in-out;
    margin-left: 15px;
}

.bolinhas-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.bolinha.alcancado {
    background-color: #45aee6; /* Cor das bolinhas ativadas */
}

.niveis {
    font-size: 16px; /* Tamanho da fonte adequado */
    font-weight: bold; /* Deixa o texto em negrito */
    color: #004164; /* Cor verde para dar destaque ao progresso */
    margin-top: 10px; /* Espaçamento acima */
    text-align: center; /* Alinha o texto ao centro */
    background-color: #f0f8f4; /* Cor de fundo suave */
    padding: 8px 16px; /* Padding interno para deixar mais espaçoso */
    border-radius: 25px; /* Bordas arredondadas para suavizar o visual */
    border: 2px solid #004164; /* Borda verde para destacar */
    width: fit-content; /* A largura vai se ajustar ao conteúdo */
    margin-left: auto;
    margin-right: auto; /* Centraliza o campo na tela */
}

.niveis span {
    font-size: 18px; /* Tamanho maior para o número do nível */
    font-weight: 600; /* Levemente mais pesado para chamar atenção */
    color: #333; /* Cor de texto mais escura para maior legibilidade */
}


/* Seção de Prêmios */
.premios {
    margin-top: 100px;
    text-align: center;
    color: #333;
}

.premios h3 {
    font-size: 1.6rem;
    color: black;
    margin-bottom: 20px;
}

.premios .lista-premios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.premios .premio {
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.premios .premio-conquistado {
    background-color: #00b4d8;
    color: #fff;
}

.premios .premio a {
    text-decoration: none;
    font-weight: 600;
    color: #0077b6;
    display: block;
    margin-top: 10px;
}